/* --- Estilos Universales --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Estilos del HTML y Body --- */
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'ubuntu';
    src: url(tipografia/Ubuntu-Bold.ttf);
}

body {
    font-size: 16px;
    font-family: ubuntu, sans-serif;
}

/* --- Estilos Generales para algunos elementos --- */

h1 { font-size: 3rem;}

ol, ul { list-style: none;}

a { text-decoration: none;}

img {
    max-width: 100%;
}

/* --- Contenedor Principal --- */
.contenedor_principal {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 150vh;
}

/* --- --- --- --- */
/* --- Header  ---*/
/* --- --- --- --- */

.header {
    border-bottom: 3px solid #c9c5d3;
    position: relative;
    transition: top 0.3s;
}

.sticky {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.header__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    padding: 10px;

    background-image: linear-gradient(rgb(39, 56, 105), rgba(56, 102, 167, 0.466)),url(../media/img/movile/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__logo > img {
    width: 60px;
    height: 60px;
    border-radius: 7px;
}

.header__nav {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.header__list {
    display: flex;
    gap: 10px;
}

.header__item > a{
    color: rgb(190, 221, 252);
    font-size: 1.3rem;
    padding: 0 2px;
    border-radius: 12px;
}


/* Menu Desplegable */
#menu_desplegable {
    display: none;
}

.label_menu_desplegable-1 {
    display: flex;
    justify-content: end;
}

.label_menu_desplegable-2 {
    display: none;
}

.label_menu_desplegable-1  > img {
    width: 42px;
    height: 42px;
}

.label_menu_desplegable-2  > img {
    width: 42px;
    height: 42px;
}

/* --- Header Queries --- */

@media screen and (min-width: 600px) {
    
    .header__item > a{
        font-size: 1.5rem;

    }

    .header__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header__nav {
        grid-column: span 1;
        display: flex;
        justify-content: center;
    }

    .label_menu_desplegable-2 {
        display: flex;
        justify-content: end;
    }
    
    .label_menu_desplegable-1 {
        display: none;
    }

}

.header__desplegable {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1000;
}

.header__desplegable__container {
    width: 70%;
    max-width: 600px;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px;

    background-image: linear-gradient(#30434718, #200000bb),url(../media/img/movile/header.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    border-right: 4px solid #151e53;
}

.header__desplegable__cerrar {
    background-color: #00000057;
    backdrop-filter: blur(1px);
    flex: 1;
    height: 100vh;
}

.header__logo__des > img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

.header__list__des {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__item__des > a{
    color: #fff;
    font-size: 1.4rem;
    background-color: #00091396;
    padding: 5px 16px;
    text-transform: uppercase;
    border-radius: 12px;
}

.header_foot {
    display: flex;
    margin-top: auto;
    text-align: center;
    color: #dddddd;
}

/* --- Footer --- */


.footer {
    margin-top: auto;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: rgb(2, 2, 26);
}

.footer > p {
    padding: 10px;
}
/*---*/

.imagen_de_fondo {
    background-image: linear-gradient(#1c244667, #000000d5),url(../media/img/movile/fondo_v.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

@media screen and (min-width: 600px) {
    .imagen_de_fondo {
        background-image: linear-gradient(#1c244667, #000000d5),url(../media/img/full/FormatFactoryfondo_h.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        min-height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
    }
}