/* Estilos Universales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del HTML y el Body */

html {
    scroll-behavior: smooth;
}

body {
    font-family: ubuntu,sans-serif;
    font-size: 16px;

}

/* Estilos Base de los elementos */

h1 { font-size: 3rem;}

ul, ol { list-style: none;}

a { text-decoration: none;}

img {
    max-width: 100%;
}

/* --- Contenedor Principal --- */

.contenedor_principal {
    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(#1c244667, #000000d5),url(../Media/IMG/MOVILE/fondo_New1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top ;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
}

/* --- --- Header --- --- */

.header {
    width: 100%;
    border-bottom: 3px solid #000f42;
}

.header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 8px;

    background-image: linear-gradient(rgb(39, 56, 105), rgba(56, 102, 167, 0.466)),url(../Media/IMG/MOVILE/Header/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__logo__container > img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

/* --- --- */

#boton_menu {
    display: none;
}

#label__boton_menu {
    text-align: end;
}

#label__boton_menu > img{
    width: 42px;
    height: 42px;
}

/* --- --- */

.header__nav {
    margin-top: 4px;
    grid-column: span 2;
}

.header__list {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header__list--item > a{
    color: rgb(189, 230, 247);
    font-size: 1.3rem;
    padding: 2px 4px;
    border-radius: 12px;

}

/* --- Section Hero --- */

.hero__container {
    padding: 10px;
    color: #fff;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero__slogan > p{
    font-size: 1.2rem;
}

.hero__boton {
    margin-top: 50px;
}

.hero__boton > a{
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: rgba(0, 1, 5, 0.301);
    text-transform: uppercase;
}

/* Seccion Servicios */

.section__servicios {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    display: flex;
}

.servicios__container {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

/* Slider */


/* --- Footer --- */

.footer {
    margin-top: auto;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    background-color: rgb(5, 5, 70);
}

.footer > p {
    padding: 10px;
}