/* --- Imagen de Fondo --- s*/

.imagen_de_fondo {
    background-image: linear-gradient(#1c244667, #000000d5),url(../media/img/movile/fondo_v.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

@media screen and (min-width: 900px) {
    .imagen_de_fondo {
        background-image: linear-gradient(#1c244667, #000000d5),url(../media/img/desk/fondo_h.jpg);
    }
}

/* Whatsapp */

.cont__whatsapp {
    display: none;
    justify-content: end;
    width: fit-content;
    position: fixed;
    z-index: 1010;
    top: 85vh;
    right: 10px;
    overflow: hidden;
}

.whatsapp_click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.whatsapp_click:hover {
    background-color: rgba(0, 0, 0, 0.37);
}

#boton__ir_a_whatsapp {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 220px;
    background: linear-gradient(rgb(66, 212, 43), rgb(27, 129, 11));
    border-radius: 24px;
    padding: 2px 10px;
}

#boton__ir_a_whatsapp > button {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 0.9rem;
}

#boton__ir_a_whatsapp > img {
    width: 15%;
}

/* --- Hero --- */
.section__hero {
    background-color: rgba(1, 2, 39, 0.171);
}

.hero__container {
    padding: 10px;
    color: #fff;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero__slogan > h2{
    font-size: 1.2rem;
}

.hero__boton {
    margin-top: 120px;
    margin-left: 20px;
}

.hero__boton > a{
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: rgba(58, 59, 65, 0.384);
    text-transform: uppercase;
}

.hero__boton > a:hover{
    color: #b8b8b8;
    border: 2px solid #b8b8b8;
}

/* --- Smoot */

.cont__smooth {
    width: 100%;
    position: relative;
}

#id_servicios {
    background-color: rgba(1, 2, 39, 0.171);
    position: relative;
    z-index: 1;
}

#id_servicios_back {
position: absolute;
width: 100%;
top: -10px;
}

#id_servicios__final {
    position: relative;
    transform: scale(-1);
    direction: rtl;
    z-index: 1;
}

#id_servicios__final_back {
    position: absolute;
    width: 100%;

    transform: scale(-1);
    direction: rtl;
    backdrop-filter: blur(3px);
    top: 10px;
}

/* --- Servicios --- */

.servicios__title {
    width: fit-content;
    margin: auto;
    padding: 8px 8px;
    border-radius: 60px 20px;
    background-color: rgb(45, 138, 219);
    margin-bottom: 12px;
}

.servicios__title__cont {
    width: fit-content;
    margin: auto;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 60px 20px;
    background-color: rgb(17, 116, 202);
    box-shadow:  0 0 12px -4px #000;
    color: #f3f3f3;

}

.servicios__container {
    width: 100%;
    color: #ffffff;
    background-color: rgb(9, 85, 151);
    display: flex;
    flex-direction: column;
}

/* Secciones */

.servicios__secciones {
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}

.cont_secciones_servicios2 {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 150px;
    padding: 10px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.serv_outline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.serv_logos {
    display: flex;
    flex: 2;
}

.serv_logos > img {
    border-radius: 50%;
    max-width: 140px;
}

.serv__soluciones__title, .serv__agrocent__title, .serv__digital__title {
    flex: 2;
    font-size: 1.2rem;
}

.servicios__soluciones {
    background: linear-gradient(to right, rgb(35, 110, 190), rgb(127, 160, 194));
}

.servicios__agrocent {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(12, 12, 12));
}

.servicios__digital {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(22, 22, 22));
}

@media screen and (min-width: 950px) {

    .hero__container {
        padding: 32px;
    }

    .servicios__secciones {
        gap: 10px;
        flex-direction: row;
        max-width: 1300px;
        margin: auto;
    }

    .cont_secciones_servicios2 {
        flex: 1;
    }
    
    .serv_logos {
        display: flex;
        flex: 2;
    }

    .serv__soluciones__title, .serv__agrocent__title, .serv__digital__title {
        flex: 2;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.4rem;
    }

    .hero__slogan > h2{
        font-size: 1.3rem;
    }

    .servicios__title {
        width: fit-content;
        margin: auto;
        margin-bottom: 12px;
        padding: 8px 8px;
        border-radius: 60px 20px;
        background-color: rgb(45, 138, 219);
    }
    
    .servicios__title__cont {
        width: fit-content;
        margin: auto;
        font-size: 1.3rem;
        padding: 10px 60px;
        border-radius: 60px 20px;
        background-color: rgb(15, 111, 196);
        box-shadow:  0 0 12px -4px #000;
    }
}

/* --- Slider en Otro Documento --- */

