/* Whatsapp */

.cont__whatsapp {
    display: none;
    justify-content: end;
    width: 100%;
    position: fixed;
    z-index: 90;
    top: 85vh;
    left: -10px;
}

#boton__ir_a_whatsapp {
    
    display: flex;
    width: 220px;
    background: linear-gradient(rgb(66, 212, 43), rgb(27, 129, 11));
    border-radius: 24px;
    padding: 2px 10px;

}


#boton__ir_a_whatsapp > button {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 0.9rem;
}
#boton__ir_a_whatsapp > img {
    width: 15%;
}


/* --- Hero --- */
.section__hero {
    background-color: rgba(1, 2, 39, 0.171);
}

.hero__container {
    padding: 10px;
    color: #fff;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero__slogan > h2{
    font-size: 1.2rem;
}

.hero__boton {
    margin-top: 120px;
    margin-left: 20px;
}

.hero__boton > a{
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: rgba(58, 59, 65, 0.384);
    text-transform: uppercase;
}

/* --- Servicios --- */

#id_servicios {
    background-color: rgba(1, 2, 39, 0.171);
}

#id_servicios__final {
    position: relative;
    transform: scale(-1);
    direction: rtl;
    backdrop-filter: blur(3px);
}

/* --- Servicios --- */

.section__servicios {
    position: relative;

    overflow-x: hidden;
    position: relative;
    width: 100%;
    display: flex;
}


.servicios__container {
    min-height: 500px;
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(rgb(9, 85, 151), rgb(46, 113, 172));

    display: flex;
    gap: 6px;
    flex-direction: column;
    color: #fff;
}

.servicios__title {
    padding: 10px;
}

/* --- Servicios Seccion Electronica --- */

.servicios__section__electronica {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;

    background-color: rgb(0, 0, 165);
}
.electronica__img__container {
    display: flex;
    width: 32%;
}


.servicios__section__agrocenter {
    width: 100%;
    min-height: 150px;

    background-color: rgb(46, 172, 0);
}

.servicios__section__digimark {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;

    background-color: rgb(14, 14, 14);
}

.digi__img__continer {
    width: 30%;

}

.digi__info {
}

/* Slider */

.slider {
    width: 100%;
    min-height: 320px;

    animation: slide 20s infinite;
}

@keyframes slide {
    0% { margin-left: 0vw;}
    20% { margin-left: 0vw;}

    25% { margin-left: -100vw;}
    45% { margin-left: -100vw;}

    50% { margin-left: -200vw;}
    70% { margin-left: -200vw;}

    75% { margin-left: -300vw;}
    95% { margin-left: -300vw;}
}

.slider__container {
    display: flex;
    padding: 10px;
    width: 400vw;
    background-color: rgba(0, 0, 0, 0.199);
}

.slider__cont {
    width: 100%;
    height: 300px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
} 

.slider__data__info {
    width: 100%;
    height: 100%;

    /* Propiedades del Background */
    background-position: center;
    background-size: cover;

    border-radius: 10px;
}

.slider__cont__title {
    padding: 10px;
    color: #fff;
}

.servicios__title > h2 {
    color: #fff;
    font-size: 2rem;
}

/* --- --- --- --- */

/* Imagenes del Slider Cambiar segun sea nesesario por clase. */



.hijo_gps {
    background-image: linear-gradient(#00000073, #0000004d),url(../media/img/Seccion_Servicios/gps.jpg);
}

.hijo_polarizado {
    background-image: linear-gradient(#00000073, #0000004d),url(../media/img/Seccion_Servicios/Polarisado.jpg);
}

.hijo_calefaccion {
    background-image: linear-gradient(#00000073, #0000004d),url(../media/img/Seccion_Servicios/calefaccion.jpg);
}

.hijo_video {
    background-image: linear-gradient(#00000073, #0000004d),url(../media/img/Seccion_Servicios/video.jpg);
}


/* Servicios DATA */

.servicios__data {
    display: grid;
    gap: 10px;
    padding: 20px;
}

.servicios__data--cont {
    max-width: 95%;
    display: flex;
    align-items: center;
    color: #f0f0f0;
    gap: 10px;
    background-color: #00000042;
    padding: 10px;
    border-radius: 12px;
}

.servicios__data--cont > img {
    min-width: 80px;
    max-width: 80px;

    height: 80px;
    border-radius: 12px;
}

#id_servicios__final {
    position: relative;
    top: -1px;
    transform: scale(-1);
    direction: rtl;
    backdrop-filter: blur(3px);
}


#h2_descrubre {
    font-size: 2rem;
    padding: 10px;
}

/* --- --- --- --- */

@media screen and (min-width: 600px) {
    
    
    .slider {
        width: 100%;
        min-height: 320px;
    
        animation: slide 20s infinite;
    }
    
    
    @keyframes slide {
        10% { margin-left: 0vw;}
        10% { margin-left: 0vw;}

        50% { margin-left: -100vw;}
        55% { margin-left: -100vw;}

        95% { margin-left: -200vw;}
        100% { margin-left: -200vw;}
    }

    .slider__container {
        display: flex;
        gap: 10px;
        width: 200vw;
        background-color: rgba(0, 0, 0, 0.199);
    }

    .slider__cont {
        width: 100%;
        height: 300px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    } 

    h1 {
        font-size: 4rem;
    }

    .hero__slogan > h2{
        font-size: 1.6rem;
    }

}